.toggler {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  transform: rotateZ(0);
  transition: all .5s;
  color: white;
  z-index: 1001
}
aside {
  font-family: sans-serif;
  position: fixed;
  top: 40px;
  width: 0;
  transition: all .5s;
  border: 1px solid #333;
  box-shadow: 0 0 2px #FFF;
  padding: 0;
  overflow: hidden;
  z-index: 1000;
  right: -820px;
  width: 800px;
}
aside.active {
  right: -5px;
}
@media (max-width: 888px) {
  aside {
    right: calc(0 - 90vw - 20px);
  }
  aside.active {
    width: 90vw;
  }
}
  aside .header {
    padding: 5px;
    font-size: 10px;
    color: white;
    background-color: #111;
  }
  aside .filter {
    height: 2em;
    display: flex;
    overflow-x: scroll;
    background-color: #555;
    cursor: default;
  }
    .filter .item {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      flex: 0 0 22%;
      box-sizing: border-box;
      padding: 5px;
      text-align: center;
      color: white;
      justify-content: center;
    }
  aside .wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(90vh - 60px);
    background-color:#333;
  }
  aside .entry {
    margin: 10px 10px 10px 20px;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    width: calc(100% - 55px);
    border: 1px solid;
  }
    .entry h2 {
      margin: 0 0 10px;
      padding: 3px 0 3px 5px;
      text-align: left;
      font-size: 12px;
    }
    .entry .timestamp {
      font-size: 10px;
    }
    .entry pre {
      padding: 5px;
      background-color: #FEFEFE;
      color: #333;
      overflow: scroll;
      text-shadow: none;
    }